@{
    ViewBag.Title = "Admin";
}

@section scripts{
   <!-- <script src="@Url.Content("~/Scripts/libs/jquery/jquery-ui-1.9.2.min.js")" type="text/javascript"></script> -->
<!--	<script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/libs/twitter-bootstrap/bootstrap-tooltip.js")"></script> -->
	<script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/app/admin.js")"></script>
}

<h2>Admin</h2>
<div id="add" class="btn  btn-large">Add multi-coins</div>